
body{
	width: 100vw;
	height: 100vh;
	font-size: 17px;
	color: #9bd130;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-family: 'Josefin Sans';
	font-weight: normal;
	align-items: center;
}

.container {
	width:100vw;
	height: 100vh;
	position: relative;
	z-index: 0;
	background-color: transparent;
	padding: 0;
	display: table;
	text-align: center;
}

#googleMap {
	position: absolute;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	left: 0;
}

.homeElements{
	z-index: 1;
}

#navBar{
	position: relative;
	width: 100vw;
	height: 65px;
	background-color: transparent;
	display: table;
	padding: 0 20px;
}

#logo {
	/*display: table-cell; */
	vertical-align: middle; 
	display: inline-block;
	float: left;
	
}

#survivors {
	color: #9bd130;
	text-shadow: 0.5px 0.5px 4px black;
	/*color: #f25f5c;*/
	/*display: table-cell; */
	vertical-align: middle; 
	display: inline-block;
	float: left;
}

.glyphicon-menu-hamburger {
	font-size: 35px;
	color: #264653;
	font-weight: normal;
	text-shadow: 1px 1px 2px black;
	display: table-cell; 
    vertical-align: middle; 
	text-align: right; 
}

#hamburger-overlay {
	display: flex;
   	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#hamburger-overlay > h3 h2 {
	color: #9bd130 !important;
	text-decoration: none;
	cursor: pointer;
	/*z-index: 2;*/
	
}

#hamburger-overlay > a {
	text-decoration: none;
	color: #9bd130;
}

#hamburger-overlay > h2:hover h3:hover {
	color: #f25f5c;
	text-decoration: none;
}

#hamburger-overlay > a:hover {
	text-decoration: none;
	color: #f25f5c;
}

#hamburgerAddBtn {
	cursor: pointer;
}

#exitHamburger{
	font-size: 20px;
	position: absolute;
	top: 3%;
	right: 4%;
	cursor: pointer;
}

/* SEARCH BOX START*/
#input-container{
	width: 310px;
	height: 50px;
	position: absolute;
	/*display: block;*/
	top: 12%;
	font-family: "Josefin Sans";
	z-index: 2;
	padding: 5px;
	left: 0;
	/*right: 0;
	margin-left: auto;
	margin-right: auto;*/
}

.controls {
	/*margin-top: 80px;*/
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	z-index: 2;
}

#pac-input {
	/*position: ;*/
	/*display: initial;*/
	width: 300px;
	height: 35px;
	z-index: 2;
	background-color: #fff;
	font-size: 18px;
	color: rgb(50,50,50);
	font-weight: 300;
	/*margin-left: 12px;*/
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #67ccde;
}

#type-selector {
	color: #fff;
	background-color: #67ccde;
	padding: 5px 11px 0px 11px;
}

#target {
	width: 345px;
}
/* SEARCH BOX END */
form {
	z-index: 2;
}

#mapAddBtn {
	width: 120px;
	position: absolute;
	/*display: initial;*/
	font-size: 100%;
	bottom: 4%;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}

#seePrompt{
	/*display: none;*/
	position: absolute;
	width: 300px;
	height: 75px;
	background-color: #264653;
	color: #fff8e0;
	font-weight: 500;
	border-radius: 2px;
	box-shadow: 0px 2px 2px grey;
	bottom: 20%;
	padding: 15px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#addPrompt {
	position: absolute;
	width: 100vw;
	height: 65px;
	background-color: rgba(38, 70, 83, 0.95);
	color: #9bd130;
	box-shadow: 0px 2px 2px grey;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 5px;
	font-size: 19px;
}

.form-overlay , .form-comments {
	width: 50vw;
	height: 92vh;
	background-color: rgba(38, 70, 83, 0.95);
	padding: 10px 25px;
	position: absolute;
	bottom: 4%;
	z-index: 1;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: initial;
   	align-items: center;
   	/*flex-direction: column;*/
	text-shadow: 1px 1px 2px black;
	box-shadow: 2px 0px 2px black;
}

#homePage-overlay {
	/*width: 100vw;*/
	/*height: 100vh;*/
	/*top: 0;*/
	line-height: 1.4;
}

.datePage {
	display: flex;
   	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#seeMap{
	width: 230px;
	height: 60px;
	color: #264653;
	border-radius: 30px;
	margin-top: 10px;
}

#addEvent {
	background-color: #fff8e0;
	color: #264653;
	margin-top: 15px;
	width: 280px;
	height: 70px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px black;
}

#mapExit-button {
	position: absolute;
	bottom: 4%;
}

#pinDrop-window {
	font-size: 100%;
	width: 170px;
	z-index: 1;
}

#pinDrop-window .btn {
	font-size: 170%;
}

#fireBase-no {
	margin-right: 8%;
	
}

#fireBase-yes {
	margin-left: 8%;
}

.gm-style-iw{
	font-family: "Josefin Sans";
	clear: both;
}

.gm-style-iw:parent{
	z-index: 2;
	max-width: 320px;
	margin-top: 50px;
}

#infoContent{
	color: black;
	font-size: 140%;
	word-wrap: normal;
	
}
/* HOME PAGE END */

.form-overlay , .form-comments h3 p div button{
	z-index: 2;
}

#userAge {
	display: initial;
}

#relationship {
	display: initial;
}

.buttons{
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	font-size: 100%;
	box-shadow: 2px 2px 2px black;
}

.buttons:hover{
	color: #264653;
}

.navyBtn{
	width: 250px;
	height: 60px;
	background-color: rgba(24, 44, 52, 0.65);
	border: 0.1px solid #fff8e0;
	color: #67ccde;
	box-shadow: none;
	margin-bottom: 7px;
	border-radius: 30px;
}

.navyBtn:hover {
	color: #fff8e0;
}

.blueBtn{
	background-color: rgba(103,204, 222, 0.95);
	color: #264653;
}

.blueBtn:hover {
	color: #fff8e0;
}

.greenBtn{
	background-color: rgba(155, 209, 48, 0.95);
	color: #264653;
}

.answerBtn , .notCampusBtn, .dateBtn1, .dateBtn2, .noDateBtn {
	background-color: rgba(255, 248, 224, 0.65);
	color: #264653;
	width: 250px;
	height: 50px;
	border: none;
	margin-bottom: 7px;
}

.answerBtn:hover{
	color: #264653;
}

.answerBtn:focus {
	width: 260px;
	height: 60px;
	background-color: rgba(103, 204, 222, 0.65);
	border: none;
}

#notReportedBtn{
	background-color: rgba(255, 248, 224, 0.65);
	color: #264653;
	width: 250px;
	height: 50px;
	border: none;
	margin-bottom: 7px;
}

.smallBtn {
	width: 100px;
	display: inline-block;
}
.smallBtn:focus {
	width: 110px;
	/*height: 55px;*/
	background-color: rgba(103, 204, 222, 0.65);
	border: none;
}

.mediumBtn {
	width: 130px;
}

.mediumBtn:focus {
	width: 140px;
	background-color: rgba(103, 204, 222, 0.65);
	border: none;
}

.flowControls{
	width: 90%;
	height: 40px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 15px auto 0px;
	bottom: 4%;
}

.backBtn , #date2-backBtn, #multipleA-backBtn, #reportedBackBtn , #submitBackBtn, #confirmExit-backBtn {
	width: 40px;
	height: 40px;
	border: none;
	background: url("images/redArrow.png");
	background-size: 100%;
	padding: 0;
	display: table-cell; 
    vertical-align: middle;
	float: left;
	-webkit-filter: drop-shadow(2px 2px 2px black);
	filter: drop-shadow(2px 2px 2px black);
}

.exitBtn{
	/*position: absolute;*/
	width: 40px;
	height: 40px;
	background: url("images/Close.png");
	background-size: 100%;
	color: #fff8e0;
	-webkit-filter: drop-shadow(1px 1px 2px black);
	filter: drop-shadow(2px 2px 2px black);
	border-radius: 100%;
	padding: 7px;
	display: table-cell; 
    vertical-align: middle; 
	left: 0;
	right: 0;
	margin-left: auto;
    margin-right: auto;
}
.glyphicon-remove{
	font-size: 24px;
	-webkit-text-stroke: 1px #264653;
	text-shadow: 1px 1px 2px black;
}

.skipBtn , #dateSpec-skipBtn , #date1-skipBtn, #campus-skipBtn{
	background-color: transparent;
	border: none;
	color: #f25f5c;
	padding: 0;
	font-size: 24px;
	font-weight: 600;
	display: table-cell; 
    vertical-align: middle;
	float: right; 
	text-shadow: 1.5px 1.5px 2px black;
}

.privacy-policy {
	color: #f25f5c;
	position: absolute;
	bottom: 13%;
	display: block;
	left: 10%;
	text-decoration: none;
}

.privacy-policy:hover{
	color: #67ccde;
	text-decoration: none;
}

#form-guidance {
	text-align: center;
}

#guidance-container {
	width: 100%;
	height: 75%;
	background: url("");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#gotIt {
	width: 135px;
	font-size: 120%;
	position: center;
	float: bottom;
}

#dateContainer {
	margin-bottom: 10px;
}

.dates{
	color: black;
	margin-bottom: 3px;
}

.form-group {
	width: 100%;
}

.form-control { /*textarea */
	width: 88%;
	font-size: 100%;
	/*position: absolute;*/
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.form-overlay , .form-Comments p{
	max-width: 600px;
}

#confirmSubmit {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
	background-color: #264653;
	z-index: 3;
}

#confirmExit {
	background-color: #264653;
	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
}

#confirmExit .blueBtn {
	height: 55px;
	font-size: 115%;
	font-weight: bold;
}

#thankYou {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
	background-color: #264653;
}

#annieC {
	width: 240px;
	height: 95px;
	padding: 10px 35px;
	background-color: #fff8e0;
	color: #264653;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
	margin-top: 10%;
	text-decoration: none;
}

#annieC > h4 {
	text-shadow: none;
	font-weight: bold;
}


@media screen and (max-width: 700px) {
	.form-overlay , .form-comments {
		width: 100vw;
		height: 100vh;
		top: 0;
		padding: 10px 13px;
	}

	.gm-style-iw:parent {
		max-height: 300px;
	}

	#pac-input{
		width: 75%;
		font-size: 16px;
	}

	.glyphicon-menu-hamburger {
		font-size: 22px;
	}

	.flowControls {
		width: 280px;
	}

	.form-group {
		width: 100%;
		text-align: center;
	}
}