
body{
	width: 100vw;
	height: 100vh;
	font-size: 22px;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-family: Lora;
}

.container {
	width:100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	background-color: transparent;
	padding: 0;
}

#googleMap {
	position: absolute;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	left: 0;
}

#homePage-Elements{
	position: relative;
	width: 100vw;
	background-color: transparent;
}

#logo {
	/*color: black;*/
	position: absolute;
	top: 5px;
	left: 3px;
	z-index: 9;
	width: 200px;
}

.glyphicon {
	font-size: 26px;
}

.glyphicon-menu-hamburger {
	color: black;
	position: absolute;
	z-index: 10;
	top: 6px;
	right: 20px;
}

#homePage-overlay {
	position: absolute;
	z-index: 5;
	bottom: 0;
	width: 100vw;
	height: 45%;
	float: bottom;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0px 7px;
	left: 0;
	line-height: 1.4;
	text-align: center;
}

#homePage-overlay h3 { 
	margin-top: 0;
}

#homePage-overlay-bar {
	width: 100vw;
	height: 35px;
	position: absolute;
	z-index: 6;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

#hamburger-overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 21;
	background-color: black;
	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
}

#hamburger-overlay a {
	color: white;
}

#addEvent {
	font-size: 100%;
}

/* SEARCH BOX START*/
.controls {
	margin-top: 60px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 20px;
	color: rgb(50,50,50);
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	height: 40px;
	position: absolute;
	z-index: 4;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}
/* SEARCH BOX END */

#transparent-overlay {
	position: absolute;
	width: 100vw;
	height:86%;
	bottom: 0;
	background-color: transparent;
	z-index: 4;
}

#pinDrop-window {
	color: black;
	font-size: 100%;
	width: 170px;
}

#pinDrop-window .btn {
	font-size: 170%;
}

#fireBase-no {
	margin-right: 8%;
}

#fireBase-yes {
	margin-left: 8%;
}

#infoContent{
	color: black;
	font-size: 140%;
	word-wrap: normal;
	max-width: 280px;
}
/* HOME PAGE END */

.form-overlay {
	width: 100vw;
	height: 100vh;
	background-color: black;
	padding: 13px;
	position: absolute;
	top: 0;
	z-index: 20;
	border-bottom: 1px solid black;
	display: flex;
   	align-items: center;
   	flex-direction: column;
}

#form-start-overlay {
	padding: 60px 20px;
}


#privacy-policy {
	color: white;
	position: absolute;
	bottom: 3%;
	left: 10%;
	text-decoration: none;
}

#privacy-policy:hover{
	color: skyblue;
}

#form-guidance {
	text-align: center;
}

#guidance-container {
	width: 100%;
	height: 75%;
	background: url("images/icon-guide-copy.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	/*z-index: 25;*/
}

#gotIt {
	width: 135px;
	font-size: 120%;
	position: center;
	float: bottom;
}

.dropdown {
	position: relative;
}

.btn-group-controls {
	width: 98%;
	position: absolute;
	left: 1.5%;
	bottom: 5%;
	text-align: center;
	word-spacing: 40px;
}

.btn-group-controls span {
	color: white;
	font-size: 45px;	
}

.selectDiv select {
	color: black;
	height: 50px;
}

#smallText {
	margin-top: 140px;
	font-size: 90%;
}

.btn-group .end-comment {
	white-space: normal;
	width: 150px;
	height: 100%;
	font-size: 110%;
	margin-bottom: 30px;
}

.endGroup-btns .btn {
	white-space: normal;
	width:140px;
	height: 110px;
	font-size: 100%;
}

.form-control {
	margin: 0% auto;
	width: 300px;
	font-size: 100%;
} /*comment box's'*/

#dateContainer {
	margin-bottom: 10px;
}

.dates{
	color: black;
	margin-bottom: 3px;
}

.comment-buttons {
	position: center;
	float: bottom;
}

.form-group {
	width: 600px;
}

#form-thankYou {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
}

#annieCannons a {
	color: lightseagreen;
}

#form-end {
	line-height: 1.4;
}

#form-end h3 {
	max-width: 650px;
}

.form-overlay p{
	max-width: 600px;
}

@media screen and (max-width: 678px) {
	.glyphicon-menu-hamburger {
		font-size: 26px;
	}
	.homePage-overlay {
		height: 70%;
		line-height: 1.1;
		bottom: 0;
	}

	.btn-group-controls {
		width: 100%;
		position: center;
		float: bottom;
		word-spacing: 25px;
	}
	.glyphicon {
		font-size: 16px;
	}
}