
body{
	width: 100vw;
	height: 100vh;
	font-size: 17px;
	color: #9bd130;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-family: 'Josefin Sans';
	font-weight: normal;
}

.container {
	width:100vw;
	height: 100vh;
	position: relative;
	z-index: 0;
	background-color: transparent;
	padding: 0;
	display: table;
	text-align: center;
}

#googleMap {
	position: absolute;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	left: 0;
}

.homeElements{
	z-index: 1;
}

#navBar{
	position: relative;
	width: 100vw;
	height: 65px;
	background-color: rgba(255,255,255, 0.8);
	/*z-index: 1;*/
	display: table;
	padding: 0 20px;
	box-shadow: 2px 0px 2px grey;
	/*clear: both;*/
}

#logo {
	width: 180px;
	display: table-cell; 
	vertical-align: middle; 
	text-align: left;
}

.glyphicon-menu-hamburger {
	font-size: 22px;
	color: #264653;
	font-weight: normal;
	text-shadow: 1px 1px 2px black;
	display: table-cell; 
    vertical-align: middle; 
	text-align: right; 
}

#hamburger-overlay {
   	justify-content: center;
}

#hamburger-overlay a {
	color: #9bd130;
}

/* SEARCH BOX START*/
#input-container{
	display: block;
	width: 305px;
	height: 45px;
	background: none;
	margin-top: 5px;
}
.controls {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	width: 300px;
	height: 40px;
	margin-top: 120px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
    margin-right: auto;
	background-color: #fff;
	font-family: 'Josefin Sans';
	font-size: 20px;
	color: rgb(50,50,50);
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #67ccde;
}

#type-selector {
	color: #fff;
	background-color: #67ccde;
	padding: 5px 11px 0px 11px;
}

#target {
	width: 345px;
}
/* SEARCH BOX END */
#seePrompt{
	display: none;
	position: absolute;
	width: 300px;
	height: 75px;
	background-color: #264653;
	color: #fff8e0;
	font-weight: 500;
	border-radius: 2px;
	box-shadow: 0px 2px 2px grey;
	bottom: 4%;
	padding: 15px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#addPrompt {
	display: none;
	position: absolute;
	width: 100vw;
	height: 110px;
	background-color: rgba(38, 70, 83, 0.95);
	color: #9bd130;
	box-shadow: 0px 2px 2px grey;
	/*padding: 5px;*/
}

.form-overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(38, 70, 83, 0.95);
	padding: 15px;
	position: absolute;
	top: 0;
	z-index: 1;
	display: flex;
   	align-items: center;
   	flex-direction: column;
	text-shadow: 1px 1px 2px black;
}

#homePage-overlay {
	line-height: 1.4;
}

#seeMap{
	width: 230px;
	height: 60px;
	color: #264653;
	border-radius: 30px;
	margin-top: 10px;
}

#addEvent {
	margin-top: 15px;
	width: 280px;
	height: 70px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px black;
	background-color: #fff8e0;
}

#pinDrop-window {
	/*background-color: rgba(38, 70, 83, 0.95);*/
	/*color: #fff8e0;*/
	font-size: 100%;
	width: 170px;
	z-index: 1;
}

#pinDrop-window .btn {
	font-size: 170%;
}

#fireBase-no {
	margin-right: 8%;
	
}

#fireBase-yes {
	margin-left: 8%;
}

.gm-style-iw{
	font-family: "Josefin Sans";
	/*z-index: 1;*/
	clear: both;
}

.gm-style-iw:parent{
	z-index: 2;
}

#infoContent{
	color: black;
	font-size: 140%;
	word-wrap: normal;
	max-width: 280px;
}
/* HOME PAGE END */

.form-overlay > h3, p, div, button{
	z-index: 2;
}

.buttons{
	color:#fff8e0;
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	font-size: 100%;
	box-shadow: 2px 2px 2px black;
}

.buttons:hover{
	color: #fff8e0;
}

.navyBtn{
	width: 250px;
	height: 60px;
	background-color: rgba(24, 44, 52, 0.65);
	border: 0.1px solid #fff8e0;
	color: #67ccde;
	box-shadow: none;
	margin-bottom: 7px;
	border-radius: 30px;
}

.blueBtn{
	background-color: rgba(103,204, 222, 0.65);
}

.greenBtn{
	background-color: rgba(155, 209, 48, 0.95);
}

.answerBtn{
	background-color: rgba(255, 248, 224, 0.65);
	color: #264653;
	width: 250px;
	height: 45px;
	box-shadow: none;
	border: none;
	margin-bottom: 7px;
}

.answerBtn:hover{
	color: #264653;
}

.commentBtn{
	border: none;
	margin-top: 6px;
}

.formControls{
	position: relative;
	display: table;
	width: 280px;
	margin-top: 11px;
	padding: 10px;
}

.backBtn{
	color: #f25f5c;
	width: 25px;
	font-size: 24px;
	padding: 0;
	font-weight: 100;
	display: table-cell; 
    vertical-align: middle;
	text-align: left;
}

.exitBtn{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #fff8e0;
	color: #fff8e0;
	border-radius: 100%;
	padding: 7px;
	display: table-cell; 
    vertical-align: middle; 
	left: 0;
	right: 0;
	margin-left: auto;
    margin-right: auto;
}
.glyphicon-remove{
	font-size: 24px;
	-webkit-text-stroke: 1px #264653;
	text-shadow: 1px 1px 2px black;
}

.skipBtn{
	background-color: none;
	color: #f25f5c;
	padding: 0;
	font-size: 24px;
	font-weight: 550;
	display: table-cell; 
    vertical-align: middle;
	float: right; 
	text-shadow: 1px 1px 2px black;
}

#privacy-policy {
	color: #f25f5c;
	position: absolute;
	bottom: 3%;
	left: 10%;
	text-decoration: none;
}

#privacy-policy:hover{
	color: #67ccde;
}

#form-guidance {
	text-align: center;
}

#guidance-container {
	width: 100%;
	height: 75%;
	background: url("");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#gotIt {
	width: 135px;
	font-size: 120%;
	position: center;
	float: bottom;
}

#dateContainer {
	margin-bottom: 10px;
}

.dates{
	color: black;
	margin-bottom: 3px;
}

.btn-group-controls {
	width: 300px;
	position: absolute;
   	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	bottom: 5%;
	word-spacing: 40px;
	text-align: center;
}

#smallText {
	font-size: 90%;
}

.btn-group .end-comment {
	white-space: normal;
	width: 150px;
	height: 100%;
	font-size: 110%;
	margin-bottom: 30px;
}

.endGroup-btns .btn {
	white-space: normal;
	width:140px;
	height: 110px;
	font-size: 100%;
}

.form-group {
	width: 600px;
}

.form-control {
	width: 500px;
	font-size: 100%;
	position: absolute;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
} /*comment box's'*/

.comment-buttons {
	width: 326px;
	position: absolute;
	left: 0;
	right: 0;
    margin-left: auto;
    margin-right: auto;
	bottom: 20%;
}

.comment-buttons .btn {
	width: 160px;
	white-space: normal;
}

#form-thankYou {
	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
}

#annieCannons a {
	color: lightseagreen;
}

#form-end {
	line-height: 1.4;
}

#form-end p {
	max-width: 650px;
}

.form-overlay p{
	max-width: 600px;
}

@media screen and (max-width: 700px) {
	.gm-style-iw{
		max-height: 260px;
	}

	#pac-input{
		width: 75%;
		font-size: 16px;
	}

	.glyphicon-menu-hamburger {
		font-size: 35px;
	}

	#smallText{
		position: relative;
	}

	.form-group {
		width: 100%;
		text-align: center;
	}
	.form-control {
		width: 300px;
		position: absolute;
   		left: 0;
    	right: 0;
    	margin-left: auto;
    	margin-right: auto;
	}

	.comment-buttons {
		width: 260px;
		position: absolute;
   		left: 0;
    	right: 0;
    	margin-left: auto;
    	margin-right: auto;
		bottom: 20%;
	}

	.comment-buttons .btn{
		width: 130px;
		white-space: normal;
	}
}